<div class="performer-pic">
  <img src="{{model.profilelarge.url}}" alt="Profile Picture">
</div>

<div>
  {{performers-show-pay model=model action='checkout'}}

</div>


  <div>
    <ul>
      <li>Username: {{model.username}}</li>
      <li>Real Name: {{model.firstName}} {{model.lastName}}</li>
      <li>What kind of Performance? {{model.act}}</li>

    </ul>
  </div>




  <div class="reviews-container">

      {{#link-to 'reviews.index'}}<button class="see-reviews-button">See all reviews!</button>{{/link-to}}

  </div>

  {{#link-to 'users.current'}}<button class="home-button">Home</button>{{/link-to}}
