<div class="container">
  <div class="col-md-12">
    <center>
      <div class='row'>
        <img src="{{model.profilelarge.url}}" alt="Profile Picture" class="profile-picture">
      </div>

      <div class='row'>
        {{performers-show-pay model=model action='checkout'}}
      </div>
    </center>

    <div class='row '>
      <ul class="performer-info">
        <center>
          <li>Username: {{model.username}}</li>
          <li>Real Name: {{model.firstName}} {{model.lastName}}</li>
          <li>What kind of Performance? {{model.act}}</li>
        </center>
      </ul>
    </div>
  </div>



  <div class="row">
    <center>
      {{#link-to 'reviews.index'}}
        <button class="reviews-btn">See what others think of me!</button>
      {{/link-to}}
    </center>
  </div>
</div>
