<div class="review">
  <h3>Title: {{model.title}}</h3>
  <h5>Reviewer: {{model.reviewer}}</h5>

  <li>Rating: {{model.stars}}</li>
  <li>Body: {{model.body}}</li>

  {{#link-to 'reviews.update' model}}<button> Edit this review</button>{{/link-to}}
</div>

{{yield}}
