<div class="container">
  {{#each model as |review|}}
    {{log review}}
    <div class="reviews-thumbnail">
      <center>
        <li class="row">
          <h3 class="col-md-11">
            {{#link-to 'reviews.show' review}}
              {{review.title}}
            {{/link-to}}
          </h3>
          <span class="col-md-1 delete-btn-main">{{confirm-button title="Delete" action="deleteReview" param=review}}</span>
        </li>
        <li>{{review.stars}} Stars!</li>
        <li>{{review.body}}</li>
      </center>
    </div>
  {{/each}}

  {{#link-to 'reviews.create'}}
    <button class="create-review-btn">Write a review!</button>
  {{/link-to}}

</div>
