<div class="container">
  <div class="row">
    <span class="col-md-1"></span>
    <div class="col-md-10">
      {{google-map}}
    </div>
    <span class="col-md-1"></span>
  </div>
    <div class="col-md-6">
      <h2 class="welcome-message">Hello {{session.currentUser.username}}, Welcome to Tipr!</h2>
      <ul>
        <li><a href="#">Interests</a></li>
        <li><a href="#">Who I've Tipped</a></li>
        <li><a href="#">Edit Profile</a></li>
      </ul>
    </div>
    <!-- <span class="col-md-6">{{google-map}}</span> -->


  <div class="row">
    <div class="col-md-10">
      <ul class="performer-index">
        <li>Nearby Performers:</li>
        <li>{{performers-index model=model}}</li>
      </ul>
    </div>
    <span class="col-md-2"></span>
  </div>



    <div class="row">
      <span class="col-md-10"></span>
      <div class="col-md-2">
        {{#if session.isAuthenticated}}
        {{#link-to 'index'}}<button  class="logout-button" {{ action 'invalidateSession' }}>Logout</button>{{/link-to}}
      {{/if}}
      </div>
    </div>
  </div>
